<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div id="create-update" style="display:none">
        <h2>create-edit</h2>
        <table id="createUpdateForm">
            <tr>
                <td>ID</td>
                <td><input type="text" name="id" id="idInput"></td>
            </tr>
            <tr>
                <td>Movie Name</td>
                <td><input type="text" name="movieName"></td>
            </tr>
            
            <tr>
                <td>Gender</td>
                <td><input type="text" name="gender"></td>
            </tr>

            <tr>
                <td>Year</td>
                <td><input type="text" name="year"></td>
            </tr>

            <tr>
                <td>Box Office</td>
                <td><input type="text" name="boxOffice"></td>
            </tr>
           <tr>
                <td></td><td>
                    <button id="create-button" onclick="doCreate()">Create</button>
                    <button id="update-button" onclick="doUpdate()">Update</button>
                </td>
            </tr>
        </table>
    </div>
    
    <div id="display">
        <h2>Films </h2>
        <button onclick="showCreate()">Create</button>
        <table id="filmTable" class="table">
            <tr>
                <th>ID</th><th>Movie Name</th><th>Gender</th><th>Year</th><th>Box Office</th>
            </tr>
        </table>
    </div>

    <script>
        function showCreate(){
            document.getElementById('display').style.display = "none"
            document.getElementById('update-button').style.display = "none"
            document.getElementById('create-button').style.display = "block"
            document.getElementById('create-update').style.display = "block"
        }

        function showUpdate(thisElem){
            var rowElem = thisElem.parentNode.parentNode;
            console.log(rowElem)
            film = readFilmFromRow(rowElem)
            populateForm(film)
            //id = rowElement.getAttribute("id");
            //film = readfilmFromRow(rowElement)
            //populateForm(film)

            //document.getElementById("id").value = id
            //document.getElementById("id").disabled = true

            document.getElementById('display').style.display = "none"
            document.getElementById('update-button').style.display = "block"
            document.getElementById('create-button').style.display = "none"
            document.getElementById('create-update').style.display = "block"
        }

        function readFilmFromRow(rowElement){
            //id = rowElement.getAttribute("id");
            
            film = {}
            film.id = rowElement.getAttribute("id");
            film.movie_name = rowElement.cells[1].firstChild.textContent
            film.movie_gender = rowElement.cells[2].firstChild.textContent 
            film.movie_year = rowElement.cells[3].firstChild.textContent
            film.movie_box_office = rowElement.cells[4].firstChild.textContent
            
            
            return film
            
        }

        function populateForm(film){
            var form = document.getElementById('createUpdateForm')

            form.querySelector('input[name="id"]').value = film.id
            form.querySelector('input[name="id"]').disabled = true

            form.querySelector('input[name="movieName"]').value = film.movie_name
            
            form.querySelector('input[name="gender"]').value = film.movie_gender
            form.querySelector('input[name="year"]').value = film.movie_year
            form.querySelector('input[name="boxOffice"]').value = film.movie_box_office
        }

        function clearForm(){
            var form = document.getElementById('createUpdateForm')

            form.querySelector('input[name="id"]').value = ''
            form.querySelector('input[name="id"]').disabled = false
            form.querySelector('input[name="movieName"]').value = ''
            form.querySelector('input[name="gender"]').value = ''
            form.querySelector('input[name="year"]').value = ''
            form.querySelector('input[name="boxOffice"]').value = ''
        }

        function doCreate(){
            
            film = getfilmFromForm()
            $.ajax({
                url:"/film",
                data:JSON.stringify(film),
                method:"POST",
                dataType:"JSON",
                contentType: "application/json; charset=utf-8",
                success:function(results){
                    
                    addfilmToTable(film)
                    showDisplay()
                    clearForm()
                },
                error:function(xhr,status,error){
                    console.log("error"+error)
                }
            })
            //showDisplay()
        }

        function doUpdate(){
            film = getfilmFromForm()
            updateServer(film)
            updateTableRow(film)
            showDisplay()
            
        }

        function updateServer(film){
            $.ajax({
                url:'/film/'+film.id,
                data:JSON.stringify(film),
                method:"PUT",
                dataType:"JSON",
                contentType: "application/json; charset=utf-8",
                success:function(result){
                    
                    updateTableRow(film)
                    showDisplay()
                    clearForm()
                },
                error:function(xhr,status,error){
                    console.log("error"+error)
                    console.log("data result: ",data)
                }
            })
            
            addfilmToTable
        }
        function doDelete(thisElem){
            var tableElement = document.getElementById('filmTable');
            var rowElem = thisElem.parentNode.parentNode;
            var index = rowElem.rowIndex;
            id = rowElem.getAttribute("ID");
            $.ajax({
                url:"/film/"+id,
                method:"DELETE",
                dateType:"JSON",
                success:function(result){
                    tableElement.deleteRow(index);
                },
                error:function(xhr,status,error){
                    console.log(error)
                }
            })
            

        }

        function updateTableRow(film){
            rowElem = document.getElementById(film.id)
            rowElem.cells[1].firstChild.textContent = film.movie_name
            rowElem.cells[2].firstChild.textContent = film.movie_gender
            rowElem.cells[3].firstChild.textContent = film.movie_year
            rowElem.cells[4].firstChild.textContent = film.movie_box_office
            
            
        }

        function getfilmFromForm(){
           
            
            var form = document.getElementById('createUpdateForm')
            
            var film =  {}
            film.id = form.querySelector('input[name="id"]').value
            film.movie_name = form.querySelector('input[name="movieName"]').value
            film.movie_gender = form.querySelector('input[name="gender"]').value
            film.movie_year = form.querySelector('input[name="year"]').value
            film.movie_box_office = form.querySelector('input[name="boxOffice"]').value
            console.log('here' + film.movie_name)
            return film
        }

        function showDisplay(){
            document.getElementById('display').style.display = "block"
            document.getElementById('create-update').style.display = "none"
        }

        function populateTable(){
            //ajax getAll
           
            $.ajax({
                url: 'http://127.0.0.1:5000/film',
                method:'GET',
                dataType: 'JSON',
                success:function(results){
                    for (film of results){
                        addfilmToTable(film)
                        
                        
                    }
                },
                
                error:function (xhr,status,error){
                    console.log ("error " + error + " code:"+status)
                }
            })
        

        //addfilmToTable(film)
        }
        function addfilmToTable(film){
            
            tableElem = document.getElementById("filmTable")
            rowElem = tableElem.insertRow(-1)
            rowElem.setAttribute("id", film.id)
           
            cell1 = rowElem.insertCell(0)
            cell1.innerHTML = film.id
           
            cell2 = rowElem.insertCell(1)
            cell2.innerHTML = film.movie_name
           
            cell3 = rowElem.insertCell(2)
            cell3.innerHTML = film.movie_gender
           
            cell4 = rowElem.insertCell(3)
            cell4.innerHTML = film.movie_year
           
            cell5 = rowElem.insertCell(4)
            cell5.innerHTML = film.movie_box_office
           
            cell6 = rowElem.insertCell(5)
            cell6.innerHTML = '<button onclick="showUpdate(this)">Update</button>'
           
            cell7 = rowElem.insertCell(6)
            cell7.innerHTML = '<button onclick="doDelete(this)">Delete</button>' 
        }
        populateTable()
    </script>
</body>
</html>