<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <title>Profiles</title>
</head>
<body>
    <div id="create-update" style="display:none">
        <h2>create-edit</h2>
        <form action="profiles">
            <input type="submit" class="btn btn-primary" value="Back" />
        </form>
        <table class="table col-4 col-sm-3" id="createUpdateForm">
            <tr>
                <td>ID</td>
                <td><input type="text" name="id" id="idInput"></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input type="text" name="username"></td>
            </tr>
            
            <tr>
                <td>Email</td>
                <td><input type="text" name="email"></td>
            </tr>

            <tr>
                <td>Password</td>
                <td><input type="text" name="password"></td>
            </tr>
           <tr>
                <td></td><td>
                    <button id="create-button"  class="btn btn-primary" onclick="doCreate()">Create</button>
                    <button id="update-button" class="btn btn-primary" onclick="doUpdate()">Update</button>
                </td>
            </tr>
            
        </table>
    </div>
    
    <div id="display">
        <h2>Profiles </h2>
        <button onclick="showCreate()">Create</button>
        <form action="/">
            <input type="submit" class="btn btn-primary" value="Back to Index" />
        </form>
        <table id="profileTable" class="table">
            <tr>
                <th>ID</th><th>Username</th><th>Email</th><th>Password</th><th></th>
            </tr>
        </table>
    </div>

    <script>
        function showCreate(){
            document.getElementById('display').style.display = "none"
            document.getElementById('update-button').style.display = "none"
            document.getElementById('create-button').style.display = "block"
            document.getElementById('create-update').style.display = "block"
        }

        function showUpdate(thisElem){
            var rowElem = thisElem.parentNode.parentNode;
            
            profile = readProfileFromRow(rowElem)
            populateForm(profile)
            document.getElementById('display').style.display = "none"
            document.getElementById('update-button').style.display = "block"
            document.getElementById('create-button').style.display = "none"
            document.getElementById('create-update').style.display = "block"
        }

        function readProfileFromRow(rowElement){
                       
            profile = {}
            profile.id = rowElement.getAttribute("id");
            profile.username = rowElement.cells[1].firstChild.textContent
            profile.email = rowElement.cells[2].firstChild.textContent 
            profile.password = rowElement.cells[3].firstChild.textContent
            
            return profile
        }

        function populateForm(profile){
            var form = document.getElementById('createUpdateForm')
            form.querySelector('input[name="id"]').value = profile.id
            form.querySelector('input[name="id"]').disabled = true
            form.querySelector('input[name="username"]').value = profile.username
            form.querySelector('input[name="email"]').value = profile.email
            form.querySelector('input[name="password"]').value = profile.password
        }

        function clearForm(){
            var form = document.getElementById('createUpdateForm')
            form.querySelector('input[name="id"]').value = ''
            form.querySelector('input[name="id"]').disabled = false
            form.querySelector('input[name="username"]').value = ''
            form.querySelector('input[name="email"]').value = ''
            form.querySelector('input[name="password"]').value = ''
        }

        function doCreate(){
            profile = getProfileFromForm()
            $.ajax({
                url:"/profile",
                data:JSON.stringify(profile),
                method:"POST",
                dataType:"JSON",
                contentType: "application/json; charset=utf-8",
                success:function(results){
                    addProfileToTable(profile)
                    showDisplay()
                    clearForm()
                },
                error:function(xhr,status,error){
                    console.log("error"+error)
                }
            })
            //showDisplay()
        }

        function doUpdate(){
            profile = getProfileFromForm()
            updateServer(profile)
            updateTableRow(profile)
            showDisplay()
        }

        function updateServer(profile){
            host = window.location.origin
            newhost = host + "/profile/"
            $.ajax({
                url:newhost + profile.id,
                data:JSON.stringify(profile),
                method:"PUT",
                dataType:"JSON",
                contentType: "application/json; charset=utf-8",
                success:function(result){
                    updateTableRow(profile)
                    showDisplay()
                    clearForm()
                },
                error:function(xhr,status,error){
                    console.log("error"+error)
                    console.log("data result: ",data)
                }
            })
            
            addProfileToTable
        }

        function doDelete(thisElem){
            var tableElement = document.getElementById('profileTable');
            var rowElem = thisElem.parentNode.parentNode;
            var index = rowElem.rowIndex;
            id = rowElem.getAttribute("ID");
            host = window.location.origin
            newhost = host + "/profile/"
            $.ajax({
                url:newhost+id,
                method:"DELETE",
                dateType:"JSON",
                success:function(result){
                    tableElement.deleteRow(index);
                },
                error:function(xhr,status,error){
                    console.log(error)
                }
            })
        }

        function updateTableRow(profile){
            rowElem = document.getElementById(profile.id)
            rowElem.cells[1].firstChild.textContent = profile.username
            rowElem.cells[2].firstChild.textContent = profile.password
            rowElem.cells[2].firstChild.textContent = profile.email
        }

        function getProfileFromForm(){
            var form = document.getElementById('createUpdateForm')
            var profile =  {}
            profile.id = form.querySelector('input[name="id"]').value
            profile.username = form.querySelector('input[name="username"]').value
            profile.password = form.querySelector('input[name="password"]').value
            profile.email = form.querySelector('input[name="email"]').value
            
            return profile
        }

        function showDisplay(){
            document.getElementById('display').style.display = "block"
            document.getElementById('create-update').style.display = "none"
        }

        function  populateTable(){
            host = window.location.origin
                        
            $.ajax({
                url: host + '/profile',
                method:'GET',
                dataType: 'JSON',
                success:function(results){
                    for (profile of results){
                        addProfileToTable(profile)
                    }
                },
                error:function (xhr,status,error){
                    console.log ("error " + error + " code:"+status)
                }
            })
        }

        function addProfileToTable(profile){
            tableElem = document.getElementById("profileTable")
            rowElem = tableElem.insertRow(-1)
            rowElem.setAttribute("id", profile.id)
            cell1 = rowElem.insertCell(0)
            cell1.innerHTML = profile.id
            cell2 = rowElem.insertCell(1)
            cell2.innerHTML = profile.username
            cell3 = rowElem.insertCell(2)
            cell3.innerHTML = profile.email
            cell4 = rowElem.insertCell(3)
            cell4.innerHTML = profile.password
            cell5 = rowElem.insertCell(4)
            cell5.innerHTML = '<button class="btn btn-primary" onclick="showUpdate(this)">Update</button>'
            cell6 = rowElem.insertCell(5)
            cell6.innerHTML = '<button class="btn btn-primary" onclick="doDelete(this)">Delete</button>' 
        }
        populateTable()
    </script>

<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-social-icon btn-facebook"
        style="background-color: #d9e4ec;"
        href="https://www.facebook.com/thiagoararas"
        role="button"
        ><i class="fa fa-facebook fa-lg"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-social-icon btn-twitter"
        style="background-color: #d9e4ec;"
        href="#!"
        role="button"
        ><i class="fa fa-twitter fa-lg"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-social-icon btn-google"
        style="background-color: #d9e4ec;"
        href="#!"
        role="button"
        ><i class="fa fa-google-plus fa-lg"></i
      ></a>

      

      <!-- Linkedin -->
      <a
        class="btn btn-social-icon btn-linkedin"
        style="background-color: #d9e4ec;"
        href="www.linkedin.com/in/thiago-limait"
        role="button"
        ><i class="fa fa-linkedin fa-lg"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-social-icon btn-github"
        style="background-color: #d9e4ec;"
        href="https://github.com/thenriq"
        role="button"
        ><i class="fa fa-github fa-lg"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://github.com/thenriq">Thiago Lima</a>
  </div>
  <!-- Copyright -->
</footer>    
</body>
</html>